
@{
    ViewData["Title"] = "WorkAreas";
    Layout = "~/Areas/AcademicianInformationSystem/Views/Shared/_ResearcherInformationLayout.cshtml";
}
 @using SharedLayer.Dtos
 @model List<ResearchAreaDto>

 
<div class="section">
    <h2 class="section-title">Research Areas</h2>
    @if (TempData["Result"]!=null)
    {
        <div class="alert-default-danger">
            @TempData["Result"]
        </div>
       
    }
    else
    {
        @foreach (var item in Model)
        {
            <div class="research-area">
                <h3>@item.Area</h3>
            </div>

            
        }
    }
 

  
    
</div>